// custom style
@import "custom";

// CoreUI customed
@import "style";

// PrismJS
@import "~prismjs/themes/prism.css";

.simplebar-content {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
